
.chatOnline{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}

.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
} 
.chatOnlineImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
}
.chatOnlineImageContainer{
    position: relative;
    margin-right: 10px;
}
.chatOnlineBadge{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    top: 0;
    right: 0;
}