.messenger{
    height: calc(100vh-70px);
    display: flex;
}
.chatMenu{
    flex: 3.5;
   
}
.chatBox{
    flex: 5.5;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chatBoxTop{
    margin-top: 20px;
    height: 100%;
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 10px;
}
.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}
.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}


.chatOnline{
    flex: 3;
}

.ChatMenuWrapper,.ChatBoxWrapper,.chatOnlineWrapper{
padding: 20px;
height: 100%;

}
.chatmenulabel{
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid gray;
}
